---
import type { GetStaticPaths } from "astro";
import "../../components/ToolsList.astro";
import ListItem from "../../components/ListItem.astro";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = (async () => {
    const jsonFiles = import.meta.glob("/src/data/**/*.json");
    let jsondata: any;

    const allData = [];

    for (const filePath in jsonFiles) {
        const module = await jsonFiles[filePath]();
        jsondata = (module as any).default;
        allData.push(jsondata);
    }
    return allData.map((post) => {
        return {
            params: { slug: post.slug },
            props: { post }, // 传递给页面的 props
        };
    });
}) satisfies GetStaticPaths;
---

<Layout>
    <section class="max-w-7xl mx-auto px-5 py-10">

        <button onclick="history.back()" class="inline-flex items-center mb-4 text-sm text-blue-600 hover:text-blue-800 cursor-pointer">
            <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
            Back
        </button>
        <ListItem category={Astro.props.post} />
    </section>
</Layout>
